Repository rainlanguage/rain.orderbook, pull requests merged in 2024-08, with the labels that each got.

#751 npm setup
  .eslintignore
  .eslintrc.js
  .github/workflows/manual-package-release.yml
  .github/workflows/rainix.yaml
  .gitignore
  Cargo.lock
  crates/common/src/js_api/mod.rs
  flake.nix
  package-lock.json
  package.json
  scripts/build.js
  scripts/buildPackage.js
  scripts/setup.js
  scripts/version.js
  test-js/common/test.test.ts
  test-js/tsconfig.json
  tsconfig.json
Labels: enhancement

#762 quote package js api implementation
  .github/workflows/manual-package-release.yml
  .github/workflows/rainix.yaml
  Cargo.lock
  crates/bindings/Cargo.toml
  crates/bindings/src/js_api.rs
  crates/bindings/src/lib.rs
  crates/quote/Cargo.toml
  crates/quote/src/error.rs
  crates/quote/src/js_api/impls.rs
  crates/quote/src/js_api/mod.rs
  crates/quote/src/lib.rs
  crates/quote/src/main.rs
  crates/quote/src/quote.rs
  crates/quote/src/rpc.rs
  crates/settings/Cargo.toml
  flake.nix
  package-lock.json
  package.json
  scripts/build.js
  scripts/buildPackage.js
  scripts/version.js
  test-js/bindings/test.test.ts
  test-js/common/test.test.ts
  test-js/quote/test.test.ts
Labels: enhancement, test, js/wasm, new feature, nix, rust

#765 takeOrders2() calldata
  .github/workflows/manual-package-release.yml
  crates/bindings/src/js_api.rs
  package-lock.json
  package.json
  test-js/quote/test.test.ts
Labels: enhancement, js/wasm, rust

#785 Order List Cli Bug Fix
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/order/list.rs
  crates/common/src/types/orders_list_flattened.rs
Labels: CLI, test

#786 Backfill tests for cli crate order commands
  crates/cli/src/commands/order/add.rs
  crates/cli/src/commands/order/compose.rs
  crates/cli/src/commands/order/detail.rs
  crates/cli/src/commands/order/mod.rs
  crates/common/src/add_order.rs
Labels: CLI, test

#788 Backfill tests for cli crate vault commands
  crates/cli/src/commands/vault/detail.rs
  crates/cli/src/commands/vault/list.rs
  crates/cli/src/commands/vault/list_balance_changes.rs
  crates/cli/src/commands/vault/mod.rs
Labels: CLI, test

#787 Backfill tests for cli crate order take commands
  crates/cli/src/commands/order_take/detail.rs
  crates/cli/src/commands/order_take/list.rs
  crates/cli/src/commands/order_take/mod.rs
Labels: CLI, test

#795 Cli command for getting deployer words
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/mod.rs
  crates/cli/src/commands/words/mod.rs
  crates/cli/src/lib.rs
Labels: CLI, new feature, rust

#794 Subgraph schema validator
  Cargo.lock
  Cargo.toml
  crates/cli/src/commands/mod.rs
  crates/cli/src/commands/subgraph/mod.rs
  crates/cli/src/lib.rs
  crates/subgraph/Cargo.toml
  crates/subgraph/src/lib.rs
  crates/subgraph/src/validate.rs
Labels: CLI, new feature, rust, subgraph
