Repository rainlanguage/rain.orderbook, pull requests merged in 2025-05, with the labels that each got.

#1670 Fix transaction store and subgraph await
  packages/ui-components/src/__tests__/awaitTransactionIndexing.test.ts
  packages/ui-components/src/__tests__/transactionStore.test.ts
  packages/ui-components/src/lib/services/awaitTransactionIndexing.ts
  packages/ui-components/src/lib/stores/transactionStore.ts
Labels: bug

#1702 Add tests for withdraw file
  crates/common/src/withdraw.rs
Labels: test, rust

#1711 Test tauri-app root +page.svelte
  tauri-app/src/lib/__mocks__/stores.ts
  tauri-app/src/lib/__tests__/matchers.ts
  tauri-app/src/lib/components/WordTable.test.ts
  tauri-app/src/lib/components/Words.test.ts
  tauri-app/src/lib/components/debug/EvalResultsTable.test.ts
  tauri-app/src/lib/components/modal/ModalQuoteDebug.test.ts
  tauri-app/src/lib/components/modal/ModalTradeDebug.test.ts
  tauri-app/src/routes/+page.svelte
  tauri-app/src/routes/page.test.ts
Labels: test

#1720 Test license
  packages/ui-components/src/__tests__/License.test.ts
  packages/ui-components/src/lib/components/License.svelte
  packages/ui-components/src/lib/consts.ts
Labels: test

#1714 Test TransactionStatusNotice.svelte
  tauri-app/src/lib/components/TransactionStatusNotice.svelte
  tauri-app/src/lib/components/TransactionStatusNotice.test.ts
Labels: test

#1718 Add tests in meta file
  crates/common/src/meta.rs
Labels: test, rust

#1700 Add cached settings for listViewOrderbookFilters
  packages/ui-components/src/__tests__/ListViewOrderbookFilters.test.ts
  packages/ui-components/src/lib/__mocks__/stores.ts
  packages/ui-components/src/lib/components/ListViewOrderbookFilters.svelte
  packages/ui-components/src/lib/components/checkbox/CheckboxActiveOrders.svelte
  packages/ui-components/src/lib/components/tables/OrdersListTable.svelte
  packages/ui-components/src/lib/components/tables/VaultsListTable.svelte
  packages/ui-components/src/lib/types/appStores.ts
  packages/webapp/src/lib/stores/settings.ts
  packages/webapp/src/routes/+layout.svelte
  packages/webapp/src/routes/orders/+page.svelte
  packages/webapp/src/routes/vaults/+page.svelte
  tauri-app/src/lib/stores/settings.ts
Labels: enhancement

#1705 Add registry provider to UI components
  packages/ui-components/src/__fixtures__/RegistryManager.ts
  packages/ui-components/src/__tests__/InputRegistryUrl.test.ts
  packages/ui-components/src/__tests__/RegistryManager.test.ts
  packages/ui-components/src/__tests__/loadRegistryUrl.test.ts
  packages/ui-components/src/__tests__/registry.test.ts
  packages/ui-components/src/lib/components/deployment/DeploymentSteps.svelte
  packages/ui-components/src/lib/components/input/InputRegistryUrl.svelte
  packages/ui-components/src/lib/index.ts
  packages/ui-components/src/lib/providers/registry/RegistryManager.ts
  packages/ui-components/src/lib/providers/registry/RegistryProvider.svelte
  packages/ui-components/src/lib/providers/registry/context.ts
  packages/ui-components/src/lib/providers/registry/useRegistry.ts
  packages/ui-components/src/lib/services/index.ts
  packages/ui-components/src/lib/services/loadRegistryUrl.ts
  packages/ui-components/src/lib/services/registry.ts
  packages/webapp/src/__tests__/handleGuiInitialization.test.ts
  packages/webapp/src/lib/__mocks__/stores.ts
  packages/webapp/src/lib/components/CustomRegistryWarning.svelte
  packages/webapp/src/lib/components/Sidebar.svelte
  packages/webapp/src/routes/deploy/+layout.svelte
  packages/webapp/src/routes/deploy/+layout.ts
  packages/webapp/src/routes/deploy/+page.svelte
  packages/webapp/src/routes/deploy/[strategyName]/[deploymentKey]/+page.svelte
  packages/webapp/src/routes/deploy/page.test.ts
  packages/webapp/test-setup.ts
Labels: enhancement

#1716 Test pageHeader
  packages/ui-components/src/__tests__/PageHeader.test.ts
Labels: test

#1721 Add wasm macro to bindings crate wasm functions
  Cargo.lock
  Cargo.toml
  crates/bindings/src/js_api.rs
  crates/js_api/src/bindings/mod.rs
  crates/js_api/src/lib.rs
  packages/orderbook/test/bindings/test.test.ts
  tauri-app/src-tauri/Cargo.lock
Labels: test, rust

#1735 Do not reset transaction store when modals are closed
  packages/ui-components/src/lib/stores/transactionStore.ts
  packages/webapp/src/__tests__/DepositOrWithdrawModal.test.ts
  packages/webapp/src/__tests__/OrderRemoveModal.test.ts
  packages/webapp/src/__tests__/TransactionModal.test.ts
  packages/webapp/src/lib/components/DepositOrWithdrawModal.svelte
  packages/webapp/src/lib/components/OrderRemoveModal.svelte
  packages/webapp/src/lib/components/TransactionModal.svelte
Labels: test

#1724 Test ButtonDarkMode
  packages/ui-components/src/__tests__/ButtonDarkMode.test.ts
Labels: test

#1725 Test ButtonLoading
  packages/ui-components/src/__tests__/ButtonLoading.test.ts
  packages/ui-components/src/lib/components/ButtonLoading.svelte
Labels: test

#1726 Test dropdown property
  packages/ui-components/src/__tests__/DropdownProperty.test.ts
Labels: test

#1730 Improve settings test coverage for tauri-app
  tauri-app/src/__tests__/pickConfig.test.ts
  tauri-app/src/__tests__/settings.test.ts
  tauri-app/src/lib/test/settings.test.ts
Labels: Tauri, test

#1751 test QueryClient.ts
  packages/ui-components/src/__tests__/queryClient.test.ts
  packages/ui-components/src/lib/queries/queryClient.ts
Labels: test

#1719 Add tests for dotrain add order lsp file
  crates/common/src/dotrain_add_order_lsp.rs
Labels: test, rust

#1599 Deployment debug tab on order deployment
  .vscode/settings.json
  crates/cli/src/commands/chart/mod.rs
  crates/common/src/fuzz/impls.rs
  crates/common/src/fuzz/mod.rs
  crates/settings/src/yaml/dotrain.rs
  packages/ui-components/src/__tests__/EditableSpan.test.ts
  packages/ui-components/src/lib/components/EditableSpan.svelte
  tauri-app/src-tauri/Cargo.toml
  tauri-app/src-tauri/src/commands/charts.rs
  tauri-app/src-tauri/src/main.rs
  tauri-app/src-tauri/src/shared_state.rs
  tauri-app/src/lib/components/ScenarioDebugTable.svelte
  tauri-app/src/lib/components/debug/EvalResultsTable.svelte
  tauri-app/src/lib/components/modal/ModalDebugContext.svelte
  tauri-app/src/lib/components/modal/ModalDebugContext.test.ts
  tauri-app/src/lib/components/modal/ModalScenarioDebug.svelte
  tauri-app/src/lib/services/chart.ts
  tauri-app/src/lib/services/modal.ts
  tauri-app/src/routes/orders/add/+page.svelte
Labels: Tauri, rust

#1783 Merge utils/time into services/time and add tests
  packages/ui-components/src/__tests__/VaultBalanceChangesTable.test.ts
  packages/ui-components/src/lib/components/charts/VaultBalanceChart.svelte
  packages/ui-components/src/lib/components/detail/OrderDetail.svelte
  packages/ui-components/src/lib/components/tables/OrderTradesListTable.svelte
  packages/ui-components/src/lib/components/tables/OrdersListTable.svelte
  packages/ui-components/src/lib/components/tables/VaultBalanceChangesTable.svelte
  packages/ui-components/src/lib/index.ts
  packages/ui-components/src/lib/services/historicalOrderCharts.ts
  packages/ui-components/src/lib/services/time.ts
  packages/ui-components/src/lib/utils/time.ts
Labels: test

#1710 Add rust tests for quote wasm bindings
  crates/js_api/src/gui/state_management.rs
  crates/quote/Cargo.toml
  crates/quote/src/js_api/mod.rs
  crates/quote/src/lib.rs
  crates/quote/src/quote.rs
  crates/subgraph/Cargo.toml
  crates/subgraph/src/types/common.rs
  packages/orderbook/test/quote/test.test.ts
  packages/ui-components/src/__tests__/TanstackOrderQuote.test.ts
  packages/ui-components/src/lib/components/detail/TanstackOrderQuote.svelte
Labels: test, rust

#1738 Refactor Toasts
  packages/ui-components/src/__tests__/ToastProvider.test.ts
  packages/ui-components/src/__tests__/useToasts.test.ts
  packages/ui-components/src/lib/components/ToastDetail.svelte
  packages/ui-components/src/lib/index.ts
  packages/ui-components/src/lib/providers/toasts/ToastProvider.svelte
  packages/ui-components/src/lib/providers/toasts/context.ts
  packages/ui-components/src/lib/providers/toasts/useToasts.ts
  packages/ui-components/src/lib/types/toast.ts
  packages/webapp/src/__tests__/TransactionListener.test.ts
  packages/webapp/src/lib/components/TransactionsListener.svelte
  packages/webapp/src/lib/stores/toasts.ts
  packages/webapp/src/routes/+layout.svelte
  packages/webapp/src/routes/orders/+layout.svelte
  packages/webapp/src/routes/orders/[network]-[orderHash]/+page.svelte
  packages/webapp/src/routes/vaults/+layout.svelte
  packages/webapp/src/routes/vaults/[network]-[id]/+page.svelte
Labels: enhancement

#1768 Add missing command test for app.rs
  tauri-app/src-tauri/src/commands/app.rs
Labels: test, rust

#1791 Update timestamp tests
  packages/ui-components/src/lib/services/time.ts
  tauri-app/src-tauri/Cargo.lock
Labels: bug

#1826 Bump wasm bindgen utils version
  tauri-app/src-tauri/Cargo.lock
  tauri-app/src-tauri/Cargo.toml
Labels: Tauri, rust

#1715 Move common js_api file to main js_api directory and add tests
  crates/common/src/frontmatter.rs
  crates/common/src/js_api/mod.rs
  crates/common/src/lib.rs
  crates/common/src/test_helpers.rs
  crates/js_api/src/common/mod.rs
  crates/js_api/src/lib.rs
  crates/subgraph/src/types/common.rs
  packages/orderbook/test/common/test.test.ts
  packages/orderbook/test/js_api/common.test.ts
  packages/webapp/src/__tests__/OrderRemoveModal.test.ts
  packages/webapp/src/lib/components/OrderRemoveModal.svelte
  tauri-app/src-tauri/Cargo.lock
Labels: test, rust

#1834 add error test cases to listorderfrontmatterkeys cli module
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/commands/order/listorderfrontmatterkeys.rs
Labels: CLI, test, rust

#1833 add tests for from logic in cli subgraph module
  crates/cli/src/subgraph.rs
Labels: CLI, test, rust

#1832 Tests for from logic in cli transaction.rs
  crates/cli/src/transaction.rs
Labels: CLI, test, rust

#1722 Add tests for add order file
  crates/common/src/add_order.rs
Labels: test, rust

#1744 Implement wasm macro to js api subgraph functions and add tests
  Cargo.lock
  crates/js_api/Cargo.toml
  crates/js_api/src/lib.rs
  crates/js_api/src/subgraph/add_order.rs
  crates/js_api/src/subgraph/mod.rs
  crates/js_api/src/subgraph/order.rs
  crates/js_api/src/subgraph/remove_order.rs
  crates/js_api/src/subgraph/trades.rs
  crates/js_api/src/subgraph/transaction.rs
  crates/js_api/src/subgraph/vault.rs
  crates/subgraph/src/multi_orderbook_client.rs
  crates/subgraph/src/orderbook_client.rs
  crates/subgraph/src/pagination.rs
  crates/subgraph/src/types/common.rs
  packages/orderbook/test/js_api/addOrder.test.ts
  packages/orderbook/test/js_api/order.test.ts
  packages/orderbook/test/js_api/removeOrder.test.ts
  packages/orderbook/test/js_api/transaction.test.ts
  packages/orderbook/test/js_api/vault.test.ts
  packages/ui-components/src/__tests__/OrderAPY.test.ts
  packages/ui-components/src/__tests__/OrderDetail.test.ts
  packages/ui-components/src/__tests__/OrderVaultsVolTable.test.ts
  packages/ui-components/src/__tests__/VaultBalanceChangesTable.test.ts
  packages/ui-components/src/__tests__/VaultDetail.test.ts
  packages/ui-components/src/__tests__/awaitTransactionIndexing.test.ts
  packages/ui-components/src/__tests__/transactionStore.test.ts
  packages/ui-components/src/lib/components/CodeMirrorRainlang.svelte
  packages/ui-components/src/lib/components/charts/OrderTradesChart.svelte
  packages/ui-components/src/lib/components/charts/VaultBalanceChart.svelte
  packages/ui-components/src/lib/components/detail/OrderDetail.svelte
  packages/ui-components/src/lib/components/detail/VaultDetail.svelte
  packages/ui-components/src/lib/components/tables/OrderAPY.svelte
  packages/ui-components/src/lib/components/tables/OrderTradesListTable.svelte
  packages/ui-components/src/lib/components/tables/OrderVaultsVolTable.svelte
  packages/ui-components/src/lib/components/tables/OrdersListTable.svelte
  packages/ui-components/src/lib/components/tables/VaultBalanceChangesTable.svelte
  packages/ui-components/src/lib/components/tables/VaultsListTable.svelte
  packages/ui-components/src/lib/services/awaitTransactionIndexing.ts
  packages/ui-components/src/lib/stores/transactionStore.ts
  packages/webapp/src/__tests__/DepositOrWithdrawModal.test.ts
  packages/webapp/src/lib/components/DepositOrWithdrawModal.svelte
Labels: test, rust

#1845 add error cases for rpc module in quote crate
  crates/quote/src/rpc.rs
Labels: test, rust

#1844 Test Tauri commands::wallet
  tauri-app/src-tauri/src/commands/wallet.rs
Labels: Tauri, test, rust

#1843 Update Toast usage and types
  packages/ui-components/src/__tests__/ToastDetail.test.ts
  packages/ui-components/src/__tests__/ToastProvider.test.ts
  packages/ui-components/src/__tests__/useToasts.test.ts
  packages/ui-components/src/lib/components/ToastDetail.svelte
  packages/ui-components/src/lib/providers/toasts/ToastProvider.svelte
  packages/ui-components/src/lib/providers/toasts/context.ts
  packages/ui-components/src/lib/providers/toasts/useToasts.ts
  packages/ui-components/src/lib/types/toast.ts
  packages/webapp/src/routes/+layout.svelte
Labels: webapp

#1717 Add wasm export macro to DotrainOrder and refactor the code
  crates/cli/src/commands/order/calldata.rs
  crates/cli/src/commands/order/compose.rs
  crates/cli/src/commands/order/listorderfrontmatterkeys.rs
  crates/cli/src/commands/order/orderbook_address.rs
  crates/cli/src/commands/words/mod.rs
  crates/common/Cargo.toml
  crates/common/src/add_order.rs
  crates/common/src/dotrain_order/mod.rs
  crates/common/src/replays/mod.rs
  crates/integration_tests/src/lib.rs
  crates/js_api/src/gui/mod.rs
  crates/js_api/src/gui/order_operations.rs
  crates/js_api/src/gui/state_management.rs
  crates/quote/src/order_quotes.rs
  crates/quote/src/quote_debug.rs
  packages/orderbook/test/common/test.test.ts
  tauri-app/src-tauri/src/commands/authoring_meta.rs
  tauri-app/src-tauri/src/commands/order.rs
  tauri-app/src-tauri/src/commands/order_quote.rs
  tauri-app/src-tauri/src/commands/trade_debug.rs
Labels: test, rust

#1835 Move handling wallet init out of layout.svelte to a tested file
  packages/webapp/src/__tests__/handleWalletInitialization.test.ts
  packages/webapp/src/lib/services/handleWalletInitialization.ts
  packages/webapp/src/routes/+layout.svelte
  packages/webapp/src/routes/layout.test.ts
Labels: test, webapp

#1750 Add "failed to refresh" toast notifications
  packages/ui-components/src/__tests__/OrderDetail.test.ts
  packages/ui-components/src/__tests__/TanstackOrderQuote.test.ts
  packages/ui-components/src/__tests__/ToastDetail.test.ts
  packages/ui-components/src/__tests__/VaultDetail.test.ts
  packages/ui-components/src/__tests__/useToasts.test.ts
  packages/ui-components/src/lib/components/detail/OrderDetail.svelte
  packages/ui-components/src/lib/components/detail/TanstackOrderQuote.svelte
  packages/ui-components/src/lib/components/detail/VaultDetail.svelte
  packages/ui-components/src/lib/providers/toasts/useToasts.ts
  packages/webapp/src/__tests__/TransactionListener.test.ts
  packages/webapp/src/lib/components/TransactionsListener.svelte
  tauri-app/src-tauri/Cargo.lock
Labels: bug, webapp

#1839 Add tests for calldata file in order commands in cli crate
  crates/cli/Cargo.toml
  crates/cli/src/commands/order/calldata.rs
Labels: test, rust

#1838 Add tests for output file in cli crate
  crates/cli/src/output.rs
Labels: test, rust

#1787 Add missing charts commands tests
  crates/common/src/fuzz/impls.rs
  crates/common/src/fuzz/mod.rs
  tauri-app/src-tauri/src/commands/charts.rs
  tauri-app/src/lib/services/chart.ts
  tauri-app/src/routes/orders/add/+page.svelte
Labels: test, rust

#1851 Add tests for chart command in cli crate
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/chart/mod.rs
Labels: test, rust

#1858 Add tests for orderbook client
  crates/cli/src/commands/order/detail.rs
  crates/cli/src/commands/order/remove.rs
  crates/quote/src/quote.rs
  crates/subgraph/src/cynic_client.rs
  crates/subgraph/src/orderbook_client.rs
  crates/subgraph/src/orderbook_client/mod.rs
  crates/subgraph/src/orderbook_client/order.rs
  crates/subgraph/src/orderbook_client/order_trade.rs
  crates/subgraph/src/orderbook_client/performance.rs
  crates/subgraph/src/orderbook_client/transaction.rs
  crates/subgraph/src/orderbook_client/vault.rs
  crates/subgraph/src/vault_balance_changes_query.rs
  tauri-app/src-tauri/src/commands/order.rs
Labels: test, rust

#1837 Add tests for wasm_traits file
  crates/bindings/src/wasm_traits.rs
Labels: test, rust

#1846 Cover error cases for quote module in quote crate
  crates/quote/src/quote.rs
Labels: test, rust

#1788 Add missing dotrain order lsp command tests
  tauri-app/src-tauri/src/commands/dotrain_add_order_lsp.rs
Labels: test, rust

#1873 Add fail tests for order_quotes file in quote crate
  crates/quote/src/order_quotes.rs
Labels: test, rust

#1865 Cover error test cases of performance::vol module in the subgraph crate
  crates/subgraph/src/performance/vol.rs
Labels: test, rust

#1864 Add error test coverage to types::impls module in subgraph crate
  crates/subgraph/src/types/impls.rs
Labels: test, rust

#1861 configure out unit tests module
  crates/common/src/lib.rs
  crates/settings/src/lib.rs
Labels: test, rust

#1862 test error cases in commands::order::orderbook_address
  crates/cli/src/commands/order/orderbook_address.rs
Labels: test, rust

#1859 test quote debugger error cases
  crates/quote/src/quote_debug.rs
Labels: test, rust

#1888 Adding utc support to timestamp in common crate
  crates/common/src/utils/timestamp.rs
Labels: rust

#1827 Add missing vault command tests in tauri app
  tauri-app/src-tauri/Cargo.lock
  tauri-app/src-tauri/Cargo.toml
  tauri-app/src-tauri/src/commands/vault.rs
  tauri-app/src-tauri/src/toast.rs
Labels: test, rust

#1875 Test vault page functions
  packages/webapp/src/__tests__/vaultActions.test.ts
  packages/webapp/src/lib/services/vaultActions.ts
  packages/webapp/src/routes/orders/[network]-[orderHash]/+page.svelte
  packages/webapp/src/routes/vaults/[network]-[id]/+page.svelte
Labels: test

#1790 Test Tauri commands::order
  REUSE.toml
  tauri-app/src-tauri/Cargo.toml
  tauri-app/src-tauri/src/commands/order.rs
  tauri-app/src-tauri/src/commands/vault.rs
  tauri-app/src-tauri/src/toast.rs
  tauri-app/src-tauri/src/transaction_status.rs
  test-resources/example-subgraph-order-res1.json
  test-resources/example-subgraph-orders-res1.json
Labels: Tauri, test, rust

#1849 Add tests for yaml cache
  crates/settings/src/yaml/cache.rs
Labels: test, rust

#1866 Add tests for multi orderbook client
  crates/js_api/src/subgraph/order.rs
  crates/js_api/src/subgraph/vault.rs
  crates/subgraph/src/multi_orderbook_client.rs
Labels: test, rust

#1876 Test vaults list page functions
  packages/webapp/src/__tests__/resetActiveNetworkRef.test.ts
  packages/webapp/src/__tests__/resetActiveOrderbookRef.test.ts
  packages/webapp/src/lib/services/resetActiveNetworkRef.ts
  packages/webapp/src/lib/services/resetActiveOrderbookRef.ts
  packages/webapp/src/routes/vaults/+page.svelte
Labels: test

#1895 Tested extecuteLedgerOrder function
  tauri-app/src/lib/__tests__/executeLedgerOrder.test.ts
  tauri-app/src/lib/services/executeLedgerOrder.ts
  tauri-app/src/routes/orders/add/+page.svelte
Labels: test

#1896 Tested executeWalletConnectOrder in tauri app
  tauri-app/src/lib/__tests__/executeWalletConnectOrder.test.ts
  tauri-app/src/lib/services/executeWalletConnectOrder.ts
  tauri-app/src/routes/orders/add/+page.svelte
Labels: test

#1901 Fix allowance check for deposits
  crates/js_api/src/subgraph/vault.rs
  packages/orderbook/test/js_api/vault.test.ts
Labels: bug
